.about
    &-title
        color: #485168
        font-family: Roboto
        font-size: 30px
        font-weight: 700
        line-height: 22px
        text-align: center
    &-wrapper
        display: flex
    &-block
        &__wrappers
            
    &-skill
        &__title
            color: #242424
            font-family: Roboto
            font-size: 14px
            font-weight: 700
            line-height: 19px
        &__subtitle
            color: #242424
            font-family: Roboto
            font-size: 14px
            font-weight: 400
            line-height: 19px