.bcg
    &-dentist 
        background: url(../img/bcg/dentistry.png)
        background-repeat: no-repeat
        background-position: right
        height: 960px 
        width: 971px
        position: absolute
        top: -52px
        right: 0
        z-index: -1
    &-teeth
        position: absolute
        top: 700px
        z-index: -1
    &-footer
        height: 821px 
        max-width: 1920px
        position: absolute
        margin: auto
        z-index: -1
        img
         width: 100%

