.bcg
    &-dentist 
        background: url(../img/bcg/dentistry.png)
        background-repeat: no-repeat
        background-position: right
        height: 960px 
        margin-top: -580px
        img
            width: 100%
        &:hover
            background:  url(../img/bcg/dentist.png) 
            background-repeat: no-repeat
            background-position: right
    &-teeth
